<!DOCTYPE html>
<html lang="ko"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>T셀파 문제은행</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="../inc/css/font.css">
	<link rel="stylesheet" href="../inc/css/reset.css">
	<link rel="stylesheet" href="../inc/css/common.css">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
	<script src="../inc/js/common.js"></script>
</head>

<body>
	<div id="wrap" class="full-pop-que">
		<div class="full-pop-wrap">
			<div class="pop-header">
				<ul class="title">
					<li>STEP 1 단원선택</li>
					<li>STEP 2 문항 편집</li>
					<li class="active">STEP 3 시험지 저장</li>
				</ul>
				<button type="button" class="del-btn"></button>
			</div>
			<div class="pop-content">
				<div class="view-box">
					<div class="view-top">
						<div class="paper-info">
							<span th:text="${testInfo.textbookApiDTO.subjectName}"></span>
							<th:block th:text="${'(20' + testInfo.textbookApiDTO.curriculumCode+ ')'}"></th:block>
						</div>
						<div class="btn-wrap">
							<button class="btn-default"><a href="javascript:;">처음으로</a></button>
						</div>
					</div>
					<div class="view-bottom type02 scroll-inner">
						<div class="top-form">
							<div class="left-wrap">
								<span>시험지명</span>
								<div class="search-wrap">
									<div class="search-box">
										<input type="text" placeholder="시험지명을 입력해주세요. (최대 20자)" class="search">
									</div>
								</div>
							</div>
						</div>
						<div class="type-form">
							<div class="left-wrap">
								<span class="tit">난이도</span>
								<div class="que-badge-group">
									<div class="que-badge-wrap">
										<span class="que-badge purple">하</span>
										<span class="num" th:text="${testInfo.code['02']}"></span>
									</div>
									<div class="que-badge-wrap">
										<span class="que-badge green">중</span>
										<span class="num" th:text="${testInfo.code['03']}"></span>
									</div>
									<div class="que-badge-wrap">
										<span class="que-badge yellow">상</span>
										<span class="num" th:text="${testInfo.code['04']}"></span>
									</div>
								</div>
							</div>
							<div class="right-wrap">
								<span class="tit">문제 형태</span>
								<div class="que-badge-group">
									<div class="que-badge-wrap">
										<span class="que-badge gray">객관식</span>
										<span class="num" th:text="${testInfo.code['11']}">35</span>
									</div>
									<div class="que-badge-wrap">
										<span class="que-badge gray">주관식</span>
										<span class="num" th:text="${testInfo.code['12']}">35</span>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-list-type01">
							<div class="table">
								<div class="fix-head">
									<span>번호</span>
									<span>문제 유형</span>
									<span>문제 형태</span>
									<span>난이도</span>
								</div>
								<div class="tbody">
									<div class="scroll-inner">
										<div class="col" th:each="item, status:${testInfo.questions}">
											<span th:text="${item.itemNo}">1</span>
											<span class="tit" th:text="${item.largeChapterName +' > '+item.mediumChapterName}"></span>
											<span th:if="${item.questionFormCode >= '10' && item.questionFormCode <= '50'}">객관식</span>
											<span th:unless="${item.questionFormCode >= '10' && item.questionFormCode <= '50'}">주관식</span>
											<span th:text="${item.difficultyName}">하</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="step-btn-wrap">
				<button type="button" class="btn-step">STEP 2 문항 편집</button>
				<button type="button" class="btn-step next done">시험지 저장하기</button>
			</div>


		</div>
		<div class="dim"></div>
	</div>
<script>

</script>
</body>


</html>