<!DOCTYPE html>
<html lang="ko"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>T셀파 문제은행</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/inc/css/font.css">
	<link rel="stylesheet" href="/inc/css/reset.css">
	<link rel="stylesheet" href="/inc/css/common.css">
	<link rel="stylesheet" href="/inc/css/pdf.css"/>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
	<script src="/inc/js/common.js"></script>
	<style>
		.loading-on {
			top: 0;
			left: 0;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.1);
			width: 100%;
			height: 100%;
		}
		.loading-off {
			display: none;
		}
		#pdfArea {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			margin: 0;
			padding: 0;
		}
	</style>
	<!-- MathJax 라이브러리 -->
	<script type="text/javascript" async
			src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
	</script>
	<script th:src="@{/assets/js/mathjax-config.js}"></script>
</head>

<body>
	<div id="wrap" class="full-pop-que d" >
		<div class="full-pop-wrap">
			<div class="pop-header">
				<ul class="title">
					<li>STEP 1 단원선택</li>
					<li>STEP 2 문항 편집</li>
					<li class="active">STEP 3 시험지 저장</li>
				</ul>
				<button type="button" class="del-btn"></button>
			</div>
			<div class="pop-content">
				<div class="view-box">
					<div class="view-top">
						<div class="paper-info">
							<span th:text="${testInfo.textbookApiDTO.subjectName}"></span>
							<th:block th:text="${'(20' + testInfo.textbookApiDTO.curriculumCode+ ')'}"></th:block>
						</div>
						<div class="btn-wrap">
							<button class="btn-default"><a href="javascript:goFirstStep();">처음으로</a></button>
						</div>
					</div>
					<div class="view-bottom type02 scroll-inner">
						<div class="top-form">
							<div class="left-wrap">
								<span>시험지명</span>
								<div class="search-wrap">
									<div class="search-box">
										<input type="text" placeholder="시험지명을 입력해주세요. (최대 20자)" maxlength="20" class="search" id="test-title">
									</div>
								</div>
							</div>
						</div>
						<div class="type-form">
							<div class="left-wrap">
								<span class="tit">난이도</span>
								<div class="que-badge-group">
									<div class="que-badge-wrap">
										<span class="que-badge purple">하</span>
										<span class="num" th:text="${testInfo.code['02']}"></span>
									</div>
									<div class="que-badge-wrap">
										<span class="que-badge green">중</span>
										<span class="num" th:text="${testInfo.code['03']}"></span>
									</div>
									<div class="que-badge-wrap">
										<span class="que-badge yellow">상</span>
										<span class="num" th:text="${testInfo.code['04']}"></span>
									</div>
								</div>
							</div>
							<div class="right-wrap">
								<span class="tit">문제 형태</span>
								<div class="que-badge-group">
									<div class="que-badge-wrap">
										<span class="que-badge gray">객관식</span>
										<span class="num" th:text="${testInfo.code['11']}">35</span>
									</div>
									<div class="que-badge-wrap">
										<span class="que-badge gray">주관식</span>
										<span class="num" th:text="${testInfo.code['12']}">35</span>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-list-type01">
							<div class="table">
								<div class="fix-head">
									<span>번호</span>
									<span>문제 유형</span>
									<span>문제 형태</span>
									<span>난이도</span>
								</div>
								<div class="tbody">
									<div class="scroll-inner">
										<div class="col" th:each="item, status:${testInfo.questions}">
											<span th:text="${item.itemNo}">1</span>
											<span class="tit" th:text="${item.largeChapterName +' > '+item.mediumChapterName}"></span>
											<span th:if="${item.questionFormCode >= '10' && item.questionFormCode <= '50'}">객관식</span>
											<span th:unless="${item.questionFormCode >= '10' && item.questionFormCode <= '50'}">주관식</span>
											<span th:text="${item.difficultyName}">하</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="step-btn-wrap">
				<button type="button" class="btn-step">STEP 2 문항 편집</button>
				<button type="button" class="btn-step next done">시험지 저장하기</button>
			</div>


			<div class="pop-content loading-off" id="loading-container">
				<div class="loading-cnt">
					<img src="/images/common/loading_icon.gif" alt="로딩중">
					<div class="txt-box">
						<span class="tit">LOADING<br>잠시만 기다려주세요.</span>
						<span class="txt">이 화면이 지속되면 페이지를 <em>새로고침</em> 해 주세요.</span>
					</div>
				</div>
			</div>
		</div>
<!--		<div class="dim"></div>-->
	</div>

    <div id="pdfArea">
        <div id="pdf-content">

        </div>



<!--        <th:block th:each="item : ${#numbers.sequence(0, testInfo.imageList['all'].size()-2, 2)}">-->
<!--            <th:block th:if="${testInfo.imageList['all'].get(item).endsWith('.')}">-->
<!--                <div class="pdf-item pdf-item-all pdf-question-grid">-->
<!--                    <div class="pdf-number" th:text="${testInfo.imageList['all'].get(item)}"></div>-->
<!--                    <img class="pdf-img" th:src="${testInfo.imageList['all'].get(item+1)}"/>-->
<!--                </div>-->
<!--            </th:block>-->
<!--            <th:block th:if="${testInfo.imageList['all'].get(item).endsWith(')')}">-->
<!--                <div class="pdf-item pdf-item-all">-->
<!--                    <div class="pdf-div pdf-answer" th:text="${testInfo.imageList['all'].get(item)}"></div>-->
<!--                    <img class="pdf-img" th:src="${testInfo.imageList['all'].get(item+1)}"/>-->
<!--                </div>-->
<!--            </th:block>-->
<!--			<th:block th:if="${testInfo.imageList['all'].get(item).endsWith(']') || testInfo.imageList['all'].get(item).equals('')}">-->
<!--				<div class="pdf-item pdf-item-all">-->
<!--					<div class="pdf-div" th:text="${testInfo.imageList['all'].get(item)}"></div>-->
<!--					<img class="pdf-img" th:src="${testInfo.imageList['all'].get(item+1)}"/>-->
<!--				</div>-->
<!--			</th:block>-->
<!--        </th:block>-->

<!--		<th:block th:each="item : ${#numbers.sequence(0, testInfo.imageList['questions'].size()-2, 2)}">-->
<!--			<th:block th:if="${testInfo.imageList['questions'].get(item).endsWith('.')}">-->
<!--				<div class="pdf-item pdf-item-question pdf-question-grid">-->
<!--					<div class="pdf-number" th:text="${testInfo.imageList['questions'].get(item)}"></div>-->
<!--					<img class="pdf-img" th:src="${testInfo.imageList['questions'].get(item+1)}"/>-->
<!--				</div>-->
<!--			</th:block>-->
<!--			<th:block th:if="${testInfo.imageList['questions'].get(item).endsWith(']') || testInfo.imageList['questions'].get(item).equals('')}">-->
<!--				<div class="pdf-item pdf-item-question">-->
<!--					<div class="pdf-div" th:text="${testInfo.imageList['questions'].get(item)}"></div>-->
<!--					<img class="pdf-img" th:src="${testInfo.imageList['questions'].get(item+1)}"/>-->
<!--				</div>-->
<!--			</th:block>-->
<!--		</th:block>-->
<!--		<th:block th:each="item : ${#numbers.sequence(0, testInfo.imageList['answers'].size()-2, 2)}">-->
<!--			<th:block th:if="${testInfo.imageList['answers'].get(item).endsWith('.')}">-->
<!--				<div class="pdf-item pdf-item-answer">-->
<!--					<div class="pdf-number" th:text="${testInfo.imageList['answers'].get(item)}"></div>-->
<!--				</div>-->
<!--			</th:block>-->
<!--			<th:block th:if="${testInfo.imageList['answers'].get(item).endsWith(')')}">-->
<!--				<div class="pdf-item pdf-item-answer">-->
<!--					<div class="pdf-div pdf-answer" th:text="${testInfo.imageList['answers'].get(item)}"></div>-->
<!--					<img class="pdf-img" th:src="${testInfo.imageList['answers'].get(item+1)}"/>-->
<!--				</div>-->
<!--			</th:block>-->
<!--		</th:block>-->
		<div id="all">
			<th:block th:each="item : ${testInfo.htmlList['all']}">
				<th:block th:utext="${item}"/>
			</th:block>
		</div>
		<div id="question">
			<th:block th:each="item : ${testInfo.htmlList['questions']}">
				<th:block th:utext="${item}"/>
			</th:block>
		</div>
		<div id="answer">
			<th:block th:each="item, status:${testInfo.htmlList['answers']}">
				<div class="pdf-item" th:if="${status.odd}" th:text="${status.count/2 + 1}+'.'"></div>
				<th:block th:utext="${item}"/>
			</th:block>
		</div>
    </div>


    <script src="/inc/js/step3.js"></script>
	<script src="/inc/js/pdf.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script>
		const itemclass = ['all', 'question', 'answer'];

		async function savePdf(title) {

			await replaceSvgWithPng('.pdf-img');

			const element = document.getElementById('pdf-content'); // 변환할 요소
			const options = {
				margin: 15, // 여백 설정
				image: { type: 'jpeg', quality: 0.98 }, // 이미지 설정
				html2canvas: { scale: 2 }, // 해상도 설정
				jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }, // PDF 설정
				pagebreak: { mode: ['css'] },
			};

			for(item of itemclass) {
				await page(title, item);
				let filename = `${item}-[[${pdfFileId}]].pdf`; // 파일 이름 설정
				options.filename = filename;

				console.log(`Generating PDF for: ${item}`);

				// PDF 생성 및 Blob 반환
				let pdfBlob = await html2pdf().set(options).from(element).outputPdf('blob');

				// PDF 전송
				await sendPdf(pdfBlob, item);
				console.log(`PDF for all completed.`);
			}

			console.log('All PDFs have been generated and sent.');


		}

		//서버에 변환된 pdf 파일 전송
		async function sendPdf(pdf, itemclass) {
			const formData = new FormData();
			formData.append('file', pdf, itemclass + `-[[${pdfFileId}]].pdf`);

			try {
				const response = await fetch('/api/customExam/pdf', {
					method: 'POST',
					body: formData,
				});

				if (!response.ok) {
					throw new Error('서버 전송 실패');
				}
				//원래 save 있던 자리
			} catch (error) {
				console.error('PDF 전송 중 오류 발생:', error);
				alert('PDF 전송 중 오류 발생');
			}
		}

		function changeTitle(title) {
			document.querySelector(".pdf-td-title").innerHTML = title;
		}

		document.querySelectorAll(".done").forEach(value => value.addEventListener("click", e => {
			if (!confirm("시험지를 저장하시겠습니까?")) {
				return;
			}

			const title = $("#test-title").val();

			const title_length = title.length;

			if (title_length === 0) {
				alert("시험지명을 입력해주세요");
				return;
			}

			if (title_length > 20) {
				alert("시험지명은 20자 이하로 입력해주세요.");
				return;
			}

			$("#loading-container").removeClass("loading-off").addClass("loading-on");
			save();
		}));

		async function save() {
			const title = $("#test-title").val();
			await savePdf(title);


			const url = "/api/customExam/save";
			//로딩중 표시하기
			const response = await fetch(url, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					'title': title,
					'subjectId': [[${testInfo.textbookApiDTO.subjectId}]],
					'subjectName': `[[${testInfo.textbookApiDTO.areaName}]]`,
					'itemIdList': [[${itemIdList}]],
					'pdfFileId' : `[[${pdfFileId}]]`,
					'descriptive' : `[[${ testInfo.descriptive=='O' }]]`
				})
			});


			if (response.ok && (await response.text()) === 'save') {
				//로딩 끝내고 페이지 이동
				// $("#loading-container").removeClass("loading-on").addClass("loading-off");
				// savePdf($("#test-title").val());
				location.replace("/customExam/complete");

			} else {
				//로딩 끝내고 alert
				$("#loading-container").removeClass("loading-on").addClass("loading-off");
				alert((await response.text()));
			}
		}
    </script>

</body>


</html>