<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/inc/css/pdf.css"/>
  <style>
    @page {
      margin: 10mm;
      size: A4;
    }
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .header {
    }
    .content {
      column-count: 2;
      column-gap: 10mm;
    }
    span.txt {
      page-break-inside: avoid;
    }
  </style>
</head>
<body>
<div class="header">
  <table class="pdf-title-table">
    <tr>
      <td rowspan="2" class="pdf-td-title"></td>
      <td class="pdf-td-grade"> &nbsp;&nbsp;&nbsp; 학년 &nbsp;&nbsp;반 &nbsp;&nbsp;번</td>
    </tr>
    <tr>
      <td class="pdf-td-name">이름:</td>
    </tr>
  </table>
</div>
<div class="content">
<th:block th:each="item : ${htmlList['all']}">
  <th:block th:utext="${item}"/>
</th:block>


    <!--			<th:block th:each="item : ${#numbers.sequence(0, testInfo.imageList['all'].size()-2, 2)}">-->
    <!--				<th:block th:if="${testInfo.imageList['all'].get(item).endsWith('.')}">-->
    <!--					<div class="pdf-item pdf-item-all pdf-question-grid">-->
    <!--						<div class="pdf-number" th:text="${testInfo.imageList['all'].get(item)}"></div>-->
    <!--						<img class="pdf-img" th:src="${testInfo.imageList['all'].get(item+1)}"/>-->
    <!--					</div>-->
    <!--				</th:block>-->
    <!--				<th:block th:if="${testInfo.imageList['all'].get(item).endsWith(')')}">-->
    <!--					<div class="pdf-item pdf-item-all">-->
    <!--						<div class="pdf-div pdf-answer" th:text="${testInfo.imageList['all'].get(item)}"></div>-->
    <!--						<img class="pdf-img" th:src="${testInfo.imageList['all'].get(item+1)}"/>-->
    <!--					</div>-->
    <!--				</th:block>-->
    <!--				<th:block th:if="${testInfo.imageList['all'].get(item).endsWith(']') || testInfo.imageList['all'].get(item).equals('')}">-->
    <!--					<div class="pdf-item pdf-item-all">-->
    <!--						<div class="pdf-div" th:text="${testInfo.imageList['all'].get(item)}"></div>-->
    <!--						<img class="pdf-img" th:src="${testInfo.imageList['all'].get(item+1)}"/>-->
    <!--					</div>-->
    <!--				</th:block>-->
    <!--			</th:block>-->

    <!--			<th:block th:each="item : ${#numbers.sequence(0, testInfo.imageList['questions'].size()-2, 2)}">-->
    <!--				<th:block th:if="${testInfo.imageList['questions'].get(item).endsWith('.')}">-->
    <!--					<div class="pdf-item pdf-item-question pdf-question-grid">-->
    <!--						<div class="pdf-number" th:text="${testInfo.imageList['questions'].get(item)}"></div>-->
    <!--						<img class="pdf-img" th:src="${testInfo.imageList['questions'].get(item+1)}"/>-->
    <!--					</div>-->
    <!--				</th:block>-->
    <!--				<th:block th:if="${testInfo.imageList['questions'].get(item).endsWith(']') || testInfo.imageList['questions'].get(item).equals('')}">-->
    <!--					<div class="pdf-item pdf-item-question">-->
    <!--						<div class="pdf-div" th:text="${testInfo.imageList['questions'].get(item)}"></div>-->
    <!--						<img class="pdf-img" th:src="${testInfo.imageList['questions'].get(item+1)}"/>-->
    <!--					</div>-->
    <!--				</th:block>-->
    <!--			</th:block>-->
    <!--			<th:block th:each="item : ${#numbers.sequence(0, testInfo.imageList['answers'].size()-2, 2)}">-->
    <!--				<th:block th:if="${testInfo.imageList['answers'].get(item).endsWith('.')}">-->
    <!--					<div class="pdf-item pdf-item-answer">-->
    <!--						<div class="pdf-number" th:text="${testInfo.imageList['answers'].get(item)}"></div>-->
    <!--					</div>-->
    <!--				</th:block>-->
    <!--				<th:block th:if="${testInfo.imageList['answers'].get(item).endsWith(')')}">-->
    <!--					<div class="pdf-item pdf-item-answer">-->
    <!--						<div class="pdf-div pdf-answer" th:text="${testInfo.imageList['answers'].get(item)}"></div>-->
    <!--						<img class="pdf-img" th:src="${testInfo.imageList['answers'].get(item+1)}"/>-->
    <!--					</div>-->
    <!--				</th:block>-->
    <!--			</th:block>-->

    <!--		<div id="all">-->
    <!--			<th:block th:each="item : ${testInfo.htmlList['all']}">-->
    <!--				<th:block th:utext="${item}"/>-->
    <!--			</th:block>-->
    <!--		</div>-->
    <!--		<div id="question">-->
    <!--			<th:block th:each="item : ${testInfo.htmlList['questions']}">-->
    <!--				<th:block th:utext="${item}"/>-->
    <!--			</th:block>-->
    <!--		</div>-->
    <!--		<div id="answer">-->
    <!--			<th:block th:each="item, status:${testInfo.htmlList['answers']}">-->
    <!--				<div class="pdf-item" th:if="${status.odd}" th:text="${status.count/2 + 1}+'.'"></div>-->
    <!--				<th:block th:utext="${item}"/>-->
    <!--			</th:block>-->
    <!--		</div>-->
</div>
</body>
</html>