<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="/inc/css/pdf.css"/>
</head>
<body>
<div id="pdfArea">
    <div id="pdf-content">

    </div>
    <th:block th:each="item : ${htmlList['all']}">
        <div class="pdf-item pdf-item-all">
            <th:block class="pdf-img" th:utext="${item}"/>
        </div>
    </th:block>
<!--    <th:block th:each="item : ${htmlList['all']}">-->
<!--        <th:block th:if="${htmlList['all'].get(item+1).contains('pdf-item-question')}">-->
<!--            <div class="pdf-item pdf-item-all pdf-question-grid">-->
<!--                <div class="pdf-number" th:text="${htmlList['all'].get(item)}"></div>-->
<!--                <th:block class="pdf-img" th:utext="${htmlList['all'].get(item+1)}"/>-->
<!--            </div>-->
<!--        </th:block>-->
<!--        <th:block th:if="${htmlList['all'].get(item+1).contains('pdf-item-choice')}">-->
<!--            <div class="pdf-item pdf-item-all">-->
<!--&lt;!&ndash;                <div class="pdf-number" th:text="${htmlList['all'].get(item)}"></div>&ndash;&gt;-->
<!--                <th:block class="pdf-img" th:utext="${htmlList['all'].get(item+1)}"/>-->
<!--            </div>-->
<!--        </th:block>-->
<!--        <th:block th:if="${htmlList['all'].get(item+1).contains('pdf-item-answer')}">-->
<!--            <div class="pdf-item pdf-item-all">-->
<!--                <div class="pdf-div pdf-answer" th:text="${htmlList['all'].get(item)}"></div>-->
<!--                <th:block class="pdf-img" th:utext="${htmlList['all'].get(item+1)}"/>-->
<!--            </div>-->
<!--        </th:block>-->
<!--        <th:block th:if="${htmlList['all'].get(item+1).contains('pdf-item-passage')}">-->
<!--            <div class="pdf-item pdf-item-all">-->
<!--                <div class="pdf-div" th:text="${htmlList['all'].get(item)}"></div>-->
<!--                <th:block class="pdf-img" th:utext="${htmlList['all'].get(item+1)}"/>-->
<!--            </div>-->
<!--        </th:block>-->
<!--    </th:block>-->

<!--    <th:block th:each="item : ${#numbers.sequence(0, htmlList['questions'].size()-2, 2)}">-->
<!--        <th:block th:if="${htmlList['questions'].get(item).endsWith('.')}">-->
<!--            <div class="pdf-item pdf-item-question pdf-question-grid">-->
<!--                <div class="pdf-number" th:text="${htmlList['questions'].get(item)}"></div>-->
<!--                <th:block th:utext="${htmlList['questions'].get(item+1)}"/>-->
<!--            </div>-->
<!--        </th:block>-->
<!--        <th:block th:if="${htmlList['questions'].get(item).endsWith(']') || htmlList['questions'].get(item).equals('')}">-->
<!--            <div class="pdf-item pdf-item-question">-->
<!--                <div class="pdf-div" th:text="${htmlList['questions'].get(item)}"></div>-->
<!--                <th:block class="pdf-img" th:utext="${htmlList['questions'].get(item+1)}"/>-->
<!--            </div>-->
<!--        </th:block>-->
<!--    </th:block>-->
<!--    <th:block th:each="item : ${#numbers.sequence(0, htmlList['answers'].size()-2, 2)}">-->
<!--        <th:block th:if="${htmlList['answers'].get(item).endsWith('.')}">-->
<!--            <div class="pdf-item pdf-item-answer">-->
<!--                <div class="pdf-number" th:text="${htmlList['answers'].get(item)}"></div>-->
<!--            </div>-->
<!--        </th:block>-->
<!--        <th:block th:if="${htmlList['answers'].get(item).endsWith(')')}">-->
<!--            <div class="pdf-item pdf-item-answer">-->
<!--                <div class="pdf-div pdf-answer" th:text="${htmlList['answers'].get(item)}"></div>-->
<!--                <th:block class="pdf-img" th:utext="${htmlList['answers'].get(item+1)}"/>-->
<!--            </div>-->
<!--        </th:block>-->
<!--    </th:block>-->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script src="/inc/js/pdf.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
</body>
</html>