<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main/layout.html}">

<div layout:fragment="textbook">
  <div class="book-header text-center mb-4">
    <h2>노미숙</h2>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <div class="col">
      <div class="book-item" th:each="item:${textbooks}">
        <img src="https://via.placeholder.com/180x240" alt="교재 이미지">
        <p th:text="${item.title}"></p>
        <a href="javascript:" th:onclick="customExamPopup(${textbookId});" title="새창 열림" class="btn btn-primary">
          <i class="icon icon-memo-center"></i> 시험지 만들기
        </a>
      </div>
    </div>
  </div>
</div>