/*body {*/
/*    font-size: 10pt;*/
/*}*/
.page-no {
    box-sizing: border-box;
    text-align: center;
    height: 10mm;
    border-top: 1mm solid gray;
    width: 180mm;
    padding: 0;
    margin: 0;
    justify-items: center;
}

/*@font-face {*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*}*/

#pdf-content {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 9pt;
    margin: 0;
    padding: 0;
}
.paragraph {
    font-size: 9pt;
}

.pdf-title-table {
    box-sizing: border-box;
    height: 15mm;
    width: 180mm;
    border: 1mm solid darkgray;
    border-radius: 5mm;
    /*border-collapse: collapse;*/
    border-spacing: 0;
    text-align: center;
    margin-bottom: 5mm;
}

.pdf-td-title {
    box-sizing: border-box;
    border-right: 1mm solid darkgray;
    font-size: 12pt;
    width: 140mm;
}

.pdf-td-grade {
    box-sizing: border-box;
    border-bottom: 1mm solid darkgray;
    padding-right: 2mm;
    text-align: right;
}

.pdf-td-name {
    box-sizing: border-box;
    text-align: left;
}

.pdf-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 255mm;
    width: 180mm;
    padding: 0;
    margin: 0;
}

.pdf-item-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 255mm;
}

.pdf-item-container table {
    border-color: dimgray;
}

.pdf-item-container-left {
    box-sizing: border-box;
    border-right: 1px solid darkgray;
}

.pdf-item-container-right {
    box-sizing: border-box;
    border-left: 1px solid darkgray;
}

.pdf-item {
    box-sizing: border-box;
    /*break-inside: avoid;*/
    margin: 5mm auto;
    width: 75mm;
}

.pdf-question-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;
}

.pdf-number {
    box-sizing: border-box;
    margin-right: 3mm;
}

.pdf-answer {
    box-sizing: border-box;
    color: green;
}

.pdf-div {
    box-sizing: border-box;
    margin-bottom: 1mm;
}

.page {
    box-sizing: border-box;
    /*page-break-before: auto;*/
    page-break-inside: avoid;
    height: 265mm;
    width: 180mm;
    padding: 1mm 0;
    margin: 0;
}

.pdf-img {
    box-sizing: border-box;
    max-width: 75mm;
    padding: 1mm;
    /*width: 100%;*/
}

.img-box {
    padding-top: 1mm;
    padding-bottom: 1mm;
}

.pdf-item-table {
    box-sizing: border-box;
    border-collapse: collapse;

    width: 100%;
    margin: 5mm 0;
    padding: 0;
}

.pdf-item-table td {
    border: 0.5mm solid black;
    padding: 2mm;
}

td {
    padding: 2mm;
}