button.is-primary {
    border: 1px solid #5670dc;
    background: #5670dc;
    color: #fff;
}

button.is-gray {
    border: 1px solid #ddd;
    background: #fff;
}

input {
    overflow: visible;
}

input[type="text"] {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    vertical-align: middle;
    font-weight: 350;
}

input[type="text"]:focus {
    outline: 0;
}

.form-control {
    font-weight: 350;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #ffffff;
}

select.form-control[size], select.form-control[multiple] {
    height: auto;
}

.form-control:focus {
    border-color: #e0e0e0;
    outline: 0;
    box-shadow: none;
}

.storage__option .content-top__dropdown:first-of-type {
    margin-right: 4px;
}

select.form-control {
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    vertical-align: middle;
    color: #666;
}

.storage__option .content-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f6f9;
    padding: 10px 0;
    border-top: 1px solid #000;
}

.storage__option .content-top__sort {
    display: flex;
    align-items: center;
    justify-content: left;
}

/*.content-top__sort input {*/
/*    border-radius: 6px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    box-sizing: border-box; !* 패딩 포함 *!*/
/*    margin: 0;*/
/*}*/

.content-top__sort input::placeholder {
    color: #ccc;
}

.storage__option .content-top__button {
    border-radius: 6px;
    text-align: center;
}

.card-custom {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    margin: 10px auto;
    text-align: center;
}

.card-header {
    text-align: left;
}

.card-header h3 {
    font-weight: bold;
    max-width: 235px;
}

.card-body {
    margin: 10px;
    display: inline-block;
}

.download-section {
    text-align: center;
}
.download-section span {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
}
.download-section .btn-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e9ecef;
    margin: 2px;
    font-size: 0.8rem;
}

.download-section .btn-circle:hover {
    background-color: hotpink;
    color: white;
}
.actions {
    margin-top: 15px;
}
.actions .btn {
    font-size: 0.9rem;
}

.search-bar {
    background-color: #f8f9fa;
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin: 10px;
}
.search-bar label {
    font-weight: bold;
    margin-right: 10px;
}
.search-bar .form-control {
    border-radius: 5px;
}
.search-bar .btn-primary {
    background-color: #5868f9;
    border-color: #5868f9;
}

.item-list {
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 600px));
    justify-content: center;
    justify-items: center;
}

form {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}