<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.questionbank.mapper.TestMapper">
    <update id="updateTitle">
        update Test
        set title=#{title}
        where testId = #{testId}
    </update>
    <select id="findTestList" resultType="net.questionbank.dto.test.TestDTO">
        select T.testId, T.title as 'testTitle', T.createdAt, T.filePath, TB.title as 'textbookTitle', TB.author,
        count(Q.questionId) as count
        from Test T
        inner join Textbook TB on T.textbookId = TB.textbookId
        inner join Question Q on T.testId = Q.testId
        where T.memberId = #{userId}
        <if test="keyword != null and keyword != ''">
            and T.title like concat('%', #{keyword}, '%')
        </if>
        <if test="subject != null and subject != ''">
            and TB.subjectId = #{subject}
        </if>
        <if test="textbookId != null and textbookId > 0">
            and T.textbookId = #{textbookId}
        </if>
        group by T.testId, T.title, T.createdAt, T.filePath, TB.title, TB.author
    </select>
</mapper>